<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title %}
                Frugal
            {% endblock title %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="shop, meijer, kroger, walmart">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div>
            {% if user.is_authenticated %}
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'search' %}">Search</a>
                    </li>
                    <li>
                        <a href="{% url 'favorites' %}">Favorites</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            {% else %}
                <ul>
                    <li>
                        <a href="{% url 'welcome' %}">Welcome</a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}">Register</a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                </ul>
            {% endif %}
        </div>
        {% block content %}
        {% endblock content %}
    </body>
</html>
