<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Frugal{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="shop, meijer, kroger, walmart">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div>
            <ul>
                <li><a href="{% url 'welcome' %}">Welcome</a></li>
                {% block navbar %}
                {% endblock navbar %}
              </ul> 
        </div>
        {% block content %}
        {% endblock content %}
    </body>
</html>