{% extends "./base.html" %}
{% block title %}
    Details
{% endblock title %}
{% load static %}
{% block content %}
    <script>
        const updateButtonClicked = () => {
            document.getElementById('update').innerHTML = "Updating..."
        }
    </script>
    <form action="{% url 'details' user_favorite.id %}" method="post" onclick="updateButtonClicked()">
        {% csrf_token %}
        <button>Update Prices</button>
    </form>
    <h2 id="update" >Last Updated - {{ user_favorite.date_updated }}</h2>
    <h1>{{ user_favorite.name }}</h1>
    <h3>Average Price - {{ user_favorite.average_price }}</h3>
    {% for product in user_favorited_products %}
        <p>{{ product.name }}</p>
        <br />
    {% endfor %}
{% endblock content %}
