{% extends "./base.html" %}
{% load static %}
{% block title %}
    Favorites
{% endblock title %}

{% block content %}
    <div>
        <form id="search-form">
            {% csrf_token %}
            <input id="search-input" type="text" placeholder="Search Favorites">
        </form>
    </div>
    <form id="results-form">
        {% csrf_token %}
    </form>
    <div id="favorites-results">{% include "./favorites-results.html" %}</div>
{% endblock content %}
{% block scripts %}
            <script type="text/javascript" src="{% static "javascript/main.js" defer%}"></script>
{% endblock scripts %}