{% extends "./base.html" %}
{% block title %}
    Search
{% endblock title %}
{% block navbar %}
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'search' %}">Search</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
{% endblock navbar %}
{% load static %}
{% block content %}
    <script>
    const searchButtonClicked = () => {
        document.getElementById('header').innerHTML = "Searching..."
    }
    </script>
    <form action="{% url 'results' %}" method="get">
        {% csrf_token %}
        <legend>
            <h1 id="header">Search Products</h1>
        </legend>
        {% if error_message %}
            <p>
                <strong>{{ error_message }}</strong>
            </p>
        {% endif %}
        <input type="search" id="search" name="search" placeholder="Search" />
        <br>
        <input type="checkbox" id="meijer" name="meijer" value="True" checked>
        <label for="meijer">Meijer</label>
        <br>
        <input type="checkbox" id="kroger" name="kroger" value="True" checked>
        <label for="kroger">Kroger</label>
        <br>
        <input type="checkbox" id="walmart" name="walmart" value="True" checked>
        <label for="walmart">Walmart</label>
        <br>
        <input type="submit" value="Search" onclick="searchButtonClicked()" />
    </form>
{% endblock content %}
